<!DOCTYPE html>
<html>

<!-- head -->
<head>
    <meta charset="UTF-8" />
    <title>Socket.Io Example</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/socket-io.css">
</head>

<!-- body -->
<body>
    <div id="main">
        <div id="chat"></div>
        <div>
            <input type="text" id="test" placeholder="Input Message">
            <button onclick="send()">Send</button>
        </div>
    </div>
</body>

<!-- script -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/socket-io.js"></script>

</html>
